@supports (-webkit-touch-callout: none) {
  /* iOS devices */
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: -webkit-fill-available;
    /* Remove the padding as it's causing issues */
    padding: 0;
  }
}

html {
  --vh: 1vh;
  height: 100%;
  scroll-behavior: smooth;
}

body,
#__next,
.root {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  color: var(--colorsblack);
  /* Prevent iOS from adding extra space */
  overflow-x: hidden;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  /* Ensure root takes full height */
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}
