html {
  --vh: 1vh;
  height: calc(var(--vh, 1vh) * 100);
  scroll-behavior: smooth;
}
body,
#__next,
.root {
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
}
body {
  color: var(--colorsblack);
}
.root {
  display: flex;
  flex-direction: column;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}
